{{! This template displays a post in its entirety.
    It is used to display the latest post in the index, and any single post }}
<main id="main" class="eightcol first clearfix" role="main">
    <div class="full-post">
        <article class="hentry clearfix {{post_class}}" role="article">
            <header class="article-header">
                <time class="updated post-timestamp"
                      datetime="{{date published_at format='YYYY-MM-DD'}}"
                      pubdate="">
                    {{date published_at format="MMMM DD, YYYY"}}
                </time>
            </header> <!-- end article header -->
            <h1 class="article-title h2">
                <a href="{{url}}" rel="bookmark" title="{{title}}">{{title}}</a>
            </h1>
            <section class="entry-content clearfix">
                {{content}}
            </section> <!-- end article section -->
        </article>
    </div>
    {{#if tags}}
    <footer class="article-footer">
            <div class="tags">
                <span class="tags-title">
                    <i class="fa fa-tags"></i> {{tags}}
                </span>
            </div>
    </footer> <!-- end article footer -->
    {{/if}}
</main>

<section class="fourcol article-sidebar first clearfix">
    {{>author}}
</section> <!-- end article footer -->